

<ion-header>
   <ion-navbar hideBackButton>
      <!--ion-buttons left>
        <button ion-button (click)="goBack()">
           <ion-icon class="customIcon" name="ios-arrow-back"></ion-icon>
        </button>
    </ion-buttons-->
      <ion-title>Menu</ion-title>
      <ion-buttons end (click)="onEvent()">
         <button ion-button icon-only >
            Done
         </button>
      </ion-buttons>
   </ion-navbar>
</ion-header>
<ion-content class="content" padding>
   <div class="btn-div">
      <button ion-button block (click)="onAdd()">
         Add New Item
         <ion-icon name="add"></ion-icon>
      </button>
   </div>
   <div *ngIf="Menu_event">
      <ion-card *ngFor="let Menu of Menu_event">
         <ion-card-content>
            <ion-item>
               <ion-label>Item Name:</ion-label>
               <ion-input type="text" placeholder="Item name" [(ngModel)]="Menu.item_name" disabled></ion-input>
               <!-- <ion-icon name="md-create" item-right (click)="onUpdateMenu(Menu)"></ion-icon> -->
            </ion-item>
            <ion-item >
               <ion-label>Owner Name:</ion-label>
               <ion-input type="text" placeholder="Owner" [ngModel]="Menu.owner_name" disabled></ion-input>
            </ion-item>
            <ion-item>
               <ion-label>Status:</ion-label>
                <ion-input type="text" placeholder="Owner" [ngModel]="Menu.status" disabled></ion-input>
            </ion-item>
            <ion-item>
               <ion-label>Type:</ion-label>
               <ion-input type="text" placeholder="Type" [(ngModel)]="Menu.menuType" disabled></ion-input>
            </ion-item>
            <ion-item>
               <ion-label>Grade:</ion-label>
               <ion-input type="text" placeholder="Type" [(ngModel)]="Menu.grade" disabled></ion-input>
            </ion-item>
             <ion-item>
               <ion-label>Score:</ion-label>
               <ion-input type="text" placeholder="Type" [(ngModel)]="Menu.score" disabled></ion-input>
            </ion-item>
            <!-- <ion-item>
               <ion-label>View Recpie Link:</ion-label>
               <ion-input type="text" placeholder="Add Recipe Link" [(ngModel)]="Menu.recipe_link" disabled></ion-input>
            </ion-item> -->
         </ion-card-content>
      </ion-card>
   </div>
</ion-content>

