
page-login {
      .content{
      font-family: 'Arcon-Regular';
        background:#fff;
    }
    
    u {
    color: #ff8b00;
    padding-right: 10px;
    padding-left: 7px;
}
.back-button.show-back-button {
    display: inline-block;
    color: transparent;
}
      .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #ff8b00;
    box-shadow: 0 -1px 0 0 #ff8b00 inset;
}
.div-input{
    font-family: 'Arcon-Regular';
    }
  .item-ios.item-input.item-input-has-focus .item-inner, .item-ios.item-input.input-has-focus .item-inner {
    border-bottom-color: #ff8b00;
    box-shadow: 0 -1px 0 0 #ff8b00 inset;
}
.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: #ff8b00;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: transparent;
    background-color: transparent;
}
.bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-md-default {
    color: transparent;
    background-color: transparent;
}
.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #ff8b00;
    pointer-events: auto;
}
.toolbar-title-md {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #ff8b00;
    padding: 0 35px 0 0;
    pointer-events: auto;
}
.logo{
	width: 60%;
}
.logo-div{
	width: 100%;
	text-align: center;
}
.label-ios[stacked] {
    margin-bottom: 4px;
    font-size: 1.2rem;
    color: #ff8b00;
}
.label-md[stacked] {
    margin-bottom: 4px;
    font-size: 1.2rem;
    color: #ff8b00;
}
.item-ios.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0.55px solid #ff8b00;
}
.item-md.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0.55px solid #ff8b00;
}
.item-ios.item-label-stacked [item-right], .item-ios.item-label-floating [item-right], .item-ios.item-label-stacked [item-end], .item-ios.item-label-floating [item-end] {
    margin-top: 6px;
    margin-bottom: 6px;
    color: #ff8b00;
}
.item-md.item-label-stacked [item-right], .item-md.item-label-floating [item-right], .item-md.item-label-stacked [item-end], .item-md.item-label-floating [item-end] {
    margin-top: 6px;
    margin-bottom: 6px;
    color: #ff8b00;
}
.btn-div1{
	width: 100%;
	text-align: center;
		padding: 20px;
        margin-top:20px;
}
.btn-login{
	width: 100%;
	 background: #ff8b00;
	 		text-transform: capitalize;
}
.btn-forgot{
	color:#ff8b00;
	text-transform: capitalize;
}
.btn-btm{
	padding-top: 30px;
	width: 100%;
}
.btn-already{
	color: #ff8b00;
	text-transform: capitalize;
}
.btn-already-acc{
    width: 100%;
    color: #242424;
    text-transform: capitalize;
}
.btn-btm{
    width: 100%;
    text-align: center;
    padding: 30px;
}

}
