page-view-recipes {
     .video-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    left: 0;
    text-align: center;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    + .img-src1{
      filter: blur(1px);
    }
    img{
      display: inline-block;

    }
  }
    .img_0 {
    border: 1px solid #ff8b00;
}
    .img_1 {
    border: 1px solid #ff8b00;
}
.check{
    color: #09DC03;
}
	.bar-buttons-md{
	    order: 1;
		-webkit-order: 1;
		-ms-flex-order: 1;
	}
    .full {
    padding: 6px;
}
.content {
    background-color: #f0f0f0;
    font-family: 'Arcon-Regular';
}

.checked{
background-color:gray;
color:white;
}
.img-src1{
max-width: 100%;
border: 0;
height: 220px;
width: 100%;
object-fit: cover;
}
.img-src{
max-width: 100%;
border: 0;
height: 70px;
object-fit: cover;
}
.create-icon{
    color:#ff8b00;
}
    .save-btn{
        width: 100%;
        background:#ff8b00;
        text-transform: capitalize;
    }
    
    .toolbar-title-md {
    color: #ff8b00;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 30px 0 0;
    text-align: center;
     font-family: 'Arcon-Regular';
}
	.main-color{
		text-align: center;
		color: #000;
		padding: 0;
		margin: 0;
        font-size: 12px;
        font-family: 'Arcon-Regular';
	}
    .card{
        width: 100%;
        float: left;
        padding: 10px;
        box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
         font-family: 'Arcon-Regular';
    }
    .cus-slider{
        width: 100%;
        float: left;
        position: relative;
    }
    .cus-slider .swiper-slide img {
        height: 220px;
        object-fit: cover;
        width: 100%;
    }
    .cus-slider .swiper-slide video {
        height: 220px;
        object-fit: cover;
        width: 100%;
    }
   
    .cus-slider .top-slide{
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;
        background-color: rgba(0,0,0,0.1);
        padding: 10px;
    }
    .cus-slider .top-slide.top{
        top: 0;
    }
    .cus-slider .top-slide.bottom{
        bottom: 5px;
    }

    .images-list{
        width: 100%;
        float: left;
        white-space: nowrap;
        overflow-x: visible;
        overflow-y: hidden;
    }
    .images-list li{
        width: 80px;
        display: inline-block;
        white-space: nowrap;
        margin: 1px;
    }
    .images-list li img{
        width: 100%;
    }

    ol{
        padding-left: 15px;
    }

    .green-tick li{
        position: relative;
        padding-right: 25px;
    }
    .green-tick li .check.icon {
        position: absolute;
        top: 0;
        right: 0;
    }
}



.custom-search .searchbar-ios {
    padding: 0;
    border-top: 0;
    min-height: 40px;
    border-bottom: 1px solid #a9a9a9;
    background: transparent;
}

.custom-search .searchbar-md{
	padding: 0;
}
.custom-search .searchbar-md .searchbar-search-icon{
    left: 5px;
}
.custom-search .searchbar-md .searchbar-input{
	padding: 6px 30px;
	box-shadow: none;
	-webkit-box-shadow: none;
    border-bottom: 1px solid #a9a9a9;
}

.custom-btn{
	background-color: #ff8b00;
	margin: 0;
	font-size: 12px;
	text-transform: none;
}
.custom-btn1{
    background-color: #666666;
    margin: 0;
    font-size: 12px;
    text-transform: none;
}


.m-b-10{
    margin-bottom: 10px;
}
.m-0{
    margin: 0;
}
.p-0{
    padding: 0;
}
.full-width{
	width: 100%;
}
.pull-right{
    float: right;
}
.color-orange{
    color: #FF7C08;
}
.bg-orange{
    background-color: #FF7C08;
}
.font16{
    font-size: 16px;
}
.font18{
    font-size: 18px;
}

.btn-sm {
    padding: 0 0.6em;
    height: 2.4em;
}
.block-div{
    width: 100%;
    float: left;
}
