page-terms-conditions {
.toolbar-title-md {
    color: #ff8b00;
    font-size: 2rem;
    font-weight: 500;
    padding: 0 26px 0 0;
    text-align: center;
      font-family: 'Arcon-Regular';
}
.content{
	 font-family: 'Arcon-Regular';
}
}
