page-edit-profile {
.bar-buttons-md {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .content {
    font-family: 'Arcon-Regular';
  }
  .toolbar-title-md {
	color: #ff8b00;
	font-size: 2rem;
	font-weight: 500;
	padding: 0 12px;
	text-align: center;
	 font-family: 'Arcon-Regular';
}
.toolbar-title-ios {
	color: #ff8b00;
	font-size: 2rem;
	font-weight: 500;
	padding: 0 12px;
	text-align: center;
	 font-family: 'Arcon-Regular';
}
.Edit-img {
	text-align: center;
	padding: 15px;
	width:100% ;
	> img {
	max-width: 100%;
	border: 0;
	width: 135px;
	height: 135px;
	border-radius: 100px;
}
}
.bar-button-md[icon-only] {
	padding: 0;
	color: #ff8b00;
}

.item-ios.item-label-stacked [item-right], .item-ios.item-label-floating [item-right], .item-ios.item-label-stacked [item-end], .item-ios.item-label-floating [item-end] {
    margin-top: 6px;
    margin-bottom: 6px;
    color: #ff8b00;
}
 .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #ff8b00;
    box-shadow: 0 -1px 0 0 #ff8b00 inset;
}
  .item-ios.item-input.item-input-has-focus .item-inner, .item-ios.item-input.input-has-focus .item-inner {
    border-bottom-color: #ff8b00;
    box-shadow: 0 -1px 0 0 #ff8b00 inset;
}
.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: #ff8b00;
}
}
