page-contact {
.main{
	width: 100%;
	text-align: center;
	font-size: 13px;
	padding-top: 20px;
}
.custom.item-ios.item-block .item-inner {
  padding-right: 0px;
  border-bottom: 0.55px solid #ff8b00;
}
}
