

<ion-header>
   <ion-navbar>
      <ion-title>Invite Freinds</ion-title>
      <ion-buttons end (click)="onInviteAll()">
         <button ion-button small class="custom-btn">
         Invite all
         </button>
      </ion-buttons>
   </ion-navbar>
</ion-header>
<ion-content  class="content">
   <div class="custom-search1 m-b-10">
      <ion-searchbar (ionInput)="getItems($event)" placeholder="Search here..."></ion-searchbar>
   </div>
   <div class="notification-sec" *ngIf="contactData">
      <ul class="m-0 p-0 user_ul1" type="none" *ngFor="let a of contactData;let i=index" >
         <li>
            <div class="img-left"> <img class="circle-img" src="assets/imgs/profiler.png" /> </div>
            <div class="right-content padding-right">
               <h4> {{a.number.name}}</h4>
               <span class="status-import" (click)="Sendreq(a.number.number,i)" *ngIf="i!=index">invite </span>
               <span class="status-import" (click)="Sendreq(a.number.number,i)" *ngIf="i==index">Re-invite </span>
            </div>
         </li>
      </ul>
   </div>
</ion-content>

