<!--
  Generated template for the EventChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{eventData.event_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
		<div class="event-chat-sec">
			<div class="chat-window">
				<div *ngIf="!chats" class="date-time"> Start Your Conversation!  </div>
				<ul class="chat-msg"  >
					<li *ngFor="let message of chathistory" class="{{getLiClassName(message)}}">
						<div class="chat-text"> {{message.message}} </div>
						<div class="chat-name" *ngIf="message.sender_id!=me">{{message.sender_name}} </div>
					</li>
					<li *ngFor="let message of chats" class="{{getLiClassName(message)}}">
						<div class="chat-text"> {{message.message}} </div>
						<div class="chat-name" *ngIf="message.sender_id!=me">{{message.sender_name}} </div>
					</li>
				</ul>
			</div>
			
		
		</div>
	</ion-item>
</ion-content>

<ion-footer style="background-color: white;border: 5px solid whitesmoke; 		border-top: 1px solid #ff8b00;width: 100%">
  <div class="bidfoot">
    <ion-input type="text" class="bidinput" [(ngModel)]="chatinp" (input)="chatinp[0]==' '?chatinp='':chatinp=chatinp" placeholder="{{'wam'| translate}}"></ion-input>
    <button ion-button class="bidbutton" (click)="send(chatinp)">{{'send'| translate}}</button>
  </div>
</ion-footer>
