

<ion-header>
   <ion-navbar>
      <ion-title>{{'changepassword' | translate}}</ion-title>
   </ion-navbar>
</ion-header>
<ion-content>
   <div class="div-input">
      <div>
         <ion-item>
            <ion-label stacked>{{'currentpassword' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="Current_password" ></ion-input>
            <ion-icon name="icon-password" class="icon-color" item-right ></ion-icon>
         </ion-item>
         <p *ngIf="getcurrentPassword(Current_password)!=true">{{'incorrectpassword' | translate}}</p>
         <ion-item>
            <ion-label stacked>{{'newpassword' | translate}}</ion-label>
            <ion-input type="password" [(ngModel)]="New_Password"  ></ion-input>
            <ion-icon name="icon-password" class="icon-color" item-right ></ion-icon>
         </ion-item>
         <ion-item>
            <ion-label stacked>{{'confirmpassword' | translate}}</ion-label>
            <ion-input type="text" [(ngModel)]="Confirm_Password" ></ion-input>
            <ion-icon name="icon-password" class="icon-color" item-right ></ion-icon>
         </ion-item>
         <p *ngIf="getMatchPassword(Confirm_Password,New_Password)!=true">{{'passwordnotmatched' | translate}}</p>
      </div>
      <div class="btn-div1" >
         <button ion-button class="btn-login" [disabled]="matchdata()!=true" (click)="onChangePassword()">{{'changepassword' | translate}}</button>
      </div>
   </div>
</ion-content>

