

<ion-header>
   <ion-navbar>
      <ion-title> {{'mypost'  | translate}} </ion-title>
      <ion-buttons end>
         <button icon-only ion-button   class="btn-notify" (click)="onIconlist()" *ngIf="list=='true'" >
         <ion-icon name="icon-listed-view" ></ion-icon>
         </button>
         <button icon-only ion-button   class="btn-notify" (click)="onIcongrid()" *ngIf="list!='true'">
         <ion-icon name="icon-tiled-view"  ></ion-icon>
         </button>
      </ion-buttons>
   </ion-navbar>
</ion-header>
<ion-content>
   <div class={{listclass}}>
      <ul class="p-0 list-ul" type="none">
         <li *ngFor="let a of mydata">
            <a (click)="onViewDetail(a._id,a)">
               <img src={{a.mainImage}} />
               <div class="action-box">
                  <span> {{a.recipeTitle}} </span>
               </div>
               <div class="action-box">
                  <span>
                     <ion-icon name="thumbs-up"></ion-icon>
                     {{a.likes.length}}
                  </span>
                  <span class="pull-right">
                     <ion-icon name="eye"></ion-icon>
                     {{a.views.length}} 
                  </span>
               </div>
            </a>
         </li>
      </ul>
   </div>
</ion-content>

