<ion-header>
   <ion-navbar >
   
      <ion-title>Edit Menu Items</ion-title>
      <ion-buttons start (click)="onClose()">
         <button ion-button icon-only >
            <ion-icon name="close" class="camera"></ion-icon>
         </button>
      </ion-buttons>
   </ion-navbar>
</ion-header>
<ion-content class="content">
   <ion-card>
      <ion-card-content>
         <ion-item >
            <ion-input type="text" placeholder="Item name" [(ngModel)]="Menu.item_name" ></ion-input>
         </ion-item>
         <ion-item  *ngIf="eventType" (click)="Ownername()">
         <ion-input type="text" placeholder="Owner" [(ngModel)]="Menu.owner_name" disabled></ion-input>
         <ion-icon name="add" item-right ></ion-icon>
         </ion-item>
         <ion-item *ngIf="eventType">
            <ion-label>Status</ion-label>
            <ion-select [(ngModel)]="Menu.status">
            <ion-option value="Pending">Pending</ion-option>
            <ion-option value="Confirmed">Confirmed</ion-option>
            <ion-option value="Rejected">Rejected</ion-option>
            </ion-select>
            <ion-icon name="ios-arrow-down" item-right></ion-icon>
         </ion-item>
         <ion-item>
            <ion-input type="text" placeholder="Type" [(ngModel)]="Menu.menuType"></ion-input>
            <!--ion-icon name="ios-arrow-down" item-right></ion-icon-->
         </ion-item>
          <!--ion-item>
            <ion-label>Grade</ion-label>
            <ion-select [(ngModel)]="Menu.grade">
            <ion-option value={{a}} *ngFor="let a of grades">{{a}}</ion-option>
            </ion-select>
            <ion-icon name="ios-arrow-down" item-right></ion-icon>
         </ion-item-->

           <!--ion-item >
            <ion-input type="tel" placeholder="Score" [(ngModel)]="Menu.score" ></ion-input>
         </ion-item-->
         <ion-item (click)="onRecipeLink()">
            <ion-input type="text" placeholder="Add Recipe Link" [(ngModel)]="recipe_name" disabled></ion-input>
            <ion-icon name="ios-link" item-right></ion-icon>
         </ion-item>
      </ion-card-content>
   </ion-card>
</ion-content>
<ion-footer>
   <button ion-button block (click)="onSaveMenu()">Save</button>
</ion-footer>

