page-my-recipes {
    .header-text {
    height: 23px;
    border-bottom: 1px solid #cecece;
}
      .item-md.item-input.item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: transparent;
    box-shadow: 0 -1px 0 0 transparent inset;
  }
.custom-alert {
    width: 80%;
    float: left;
    position: fixed;
    background: #fff;
    text-align: center;
    top: 152px;
    left: 25px;
    right: 15px;
    border-radius: 6px;
    z-index: 1;
}
    .cus-alert-btn {
    width: 100%;
    float: left;
}

.cus-alert-btn-left.disable-hover.button.button-md.button-default.button-default-md.button-small.button-small-md {
    width: 45%;
    float: left;
    background: #222;
    padding: 18px;
text-transform: capitalize;
border-radius: 3px;
}
.cus-alert-btn-right.disable-hover.button.button-md.button-default.button-default-md.button-small.button-small-md {
    width: 45%;
    background: #ff8b00;
    text-transform: capitalize;
    padding: 18px;
border-radius: 3px;
}
    .bar-button-md[icon-only] {
    padding: 0;
    font-size: 11px;
}
   .bar-button-ios[icon-only] {
    padding: 0;
    font-size: 11px;
}
     .toolbar-background-md, .toolbar-background-ios{
        background-color: #fff;
    }
    .plus-icon-img {
        max-width: 100%;
        border: 0;
        width: 100%;
        display: block;
        padding: 10px;
    }
    .pop-icon {
        color: #ff8b00;
        font-size: 20px;
    }
     .pop-icon1 {
        color: #ff8b00;
        font-size: 25px;
    }
    .pop-div {
        padding: 5px;
    }
    .pop {
        width: 15%;
        position: absolute;
        top: 30;
        right: 0;
        background: #fff;
        text-align: center;
        z-index: 1;
    }
    .setting-icon {
        color: #ff8b00;
    }
    .list-item {
        float: left;
        width: 100%;
    }
    .div-list {
        width: 100%;
        padding: 5px;
        float: left;
        border-bottom: 1px solid #cecece;
    }
    .img-div.pull-left {
        width: 35%;
        box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 5px;
        background: #fff;
    }
    img {
        max-width: 100%;
        border: 0;
        width: 100%;
        display: block;
        height: 70px;
        object-fit: cover;
        -o-object-fit: cover;  
    }
    .img-div {
        float: left;
        margin-left: 10px;
        margin-right: 10px;
    }
    .img-text{
        margin-left: 42%;
    }
    .extra-div {
        margin-top: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 500;
        line-height: 1.2;
    }
    .extra-div1 {
        margin-top: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 300;
        line-height: 1.0;
    }
    .fa-th-large {
        color: #ff8b00;
        font-size: 20px;
    }
    .fa-th-list {
        color: #ff8b00;
        font-size: 20px;
    }
    .bar-buttons-md {
        order: 1;
        -webkit-order: 1;
        -ms-flex-order: 1;
    }
    .toolbar-title-md {
        padding: 0 32px 0 0
    }
    .user-box {
        width: 100%;
        float: left;
        border-bottom: 1px solid #a9a9a9;
        padding: 15px 15px 5px;
    }
    .edit-details {
        width: 100%;
        float: left;
    }
    .img-profile {
        width: 33%;
        float: left;
    }
    .img-profile img {
        width: 100%;
    }
    .profile-access {
        width: 67%;
        float: left;
        padding: 0 0 0 10px;
    }
    .profile-access ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        display: -o-flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .profile-access ul li {
        display: inline-block;
        text-align: center;
        flex: 1;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
    }
    .profile-access ul li:first-child {
        text-align: left;
    }
    .profile-access ul li:last-child {
        text-align: right;
    }
    .profile-access ul li>a {
        display: block;
        color: #a9a9a9;
    }
    .drawer {
        width: 100%;
        float: left;
        font-size: 20px;
    }
    .ion-ios-apps-outline::before {
        color: #ff8b00;
        content: "";
    }
    .ion-md-apps-outline::before {
        color: #ff8b00;
        content: "";
    }
    .ion-ios-arrow-dropdown-circle::before {
        color: #ff8b00;
        content: "";
    }
    .ion-md-arrow-dropdown-circle::before {
        color: #ff8b00;
        content: "";
    }
    .full {
        width: 100%;
        float: left;
    }
    .div-img {
        float: left;
        width: 100%;
    }
    .card-img {
        width: 45%;
        background: #fff;
        margin: 6px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .pull-left {
        float: left;
    }
    .pull-right {
        float: right;
    }
    .text-div {
        width: 100%;
        float: left;
        padding: 5px;
    }
    .content {
        background: #f0f0f0;
        font-family: 'Arcon-Regular';
        position: relative;
    }
    .fitness-menu-body {
        font-family: 'Varela Round' !important;
    }
    .lang_button {
        background-color: #C75011;
        border: 1px;
        border-color: #FEFAF8;
        color: #FEFAF8;
        border-radius: 3px;
    }
    .rec_name {
        text-align: justify;
        font-family: 'Varela Round';
        font-size: 10px;
        font-style: normal;
        float: left
    }
    .product-wrap {
        background-color: #ffffff;
        box-shadow: 0 2px 8px 1px #cccccc;
        float: left;
        padding: 10px 5px;
        width: 100%;
    }
    .image-left {
        float: left;
        width: 40%;
        position: relative;
    }
    .image-left::after {
        border-right: 1px solid #ccc;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
    .image-left img {
        float: left;
        width: 100%;
        padding-right: 5px;
    }
    .content-right {
        float: left;
        width: 60%;
        padding-left: 5px;
    }
    .recepie-name {
        float: left;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 50%;
    }
    .recepie-cartor-price {
        float: left;
        width: 50%;
    }
    .recepie-desc {
        float: left;
        max-height: 34px;
        overflow: hidden;
        width: 100%;
    }
    .tags {
        display: inline-block;
        float: left;
        list-style: outside none none;
        padding-left: 0;
        width: 100%;
        margin-top: 0;
    }
    .recepies-tag.protein {
        background-color: #F91538;
        border-radius: 3px;
        color: #ffffff;
    }
    .recepies-tag.Calcium {
        background-color: #F96415;
        border-radius: 3px;
        color: #ffffff;
    }
    .recepies-tag.Iron {
        background-color: #F9D615;
        border-radius: 3px;
        color: #ffffff;
    }
    .recepies-tag.Fibre {
        background-color: #F92B15;
        border-radius: 3px;
        color: #ffffff;
    }
    .recepies-tag {
        display: inline;
        float: left;
        margin-bottom: 5px;
        margin-right: 15px;
        padding: 5px;
        width: auto;
        font-size: 13px;
    }
}
