
<ion-header>

  <ion-navbar>
    <ion-title>{{'forgotpassword.forgot' | translate}}></ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="content" >
<div class="logo-div">
	<div class="text">{{'forgotpassword.enterYour' | translate}}</div>
</div>

<div class="div-input">
<form [formGroup]="salonregister">
	 <ion-item>
    <ion-label stacked>{{'loginpage.email' | translate}}</ion-label>
    <ion-input type="text" [(ngModel)]="login.email"  formControlName="useremail"></ion-input>
     <ion-icon name="mail" item-right ></ion-icon>
  </ion-item>
   <p style="color:#ff8b00;padding-left:15px;"  *ngIf="!salonregister.controls.useremail.valid && (salonregister.controls.useremail.dirty )"> *{{'loginpage.invalidemail' | translate}} </p>
</form>

</div>

<div class="btn-div1">
	<button ion-button class="btn-login" (click)="onSend()" *ngIf="resend_btn!='true'" [disabled]="!salonregister.valid">{{'forgotpassword.send'| translate}}</button>
  <button ion-button class="btn-login" (click)="onSend()" *ngIf="resend_btn=='true'" >{{'forgotpassword.resend'| translate}}</button>
  <button ion-button clear (click)="onLogin()" class="maincolor">{{'loginpage.login'| translate}}</button>
	</div>

</ion-content>
