<ion-header>
    <ion-navbar>
        <ion-title> {{eventData.event_name}} </ion-title>  
        <ion-buttons end >
            <button *ngIf="EventOwner==true" icon-only ion-button  class="btn-notify" (click)="onEditEvents()">
                <ion-icon name="md-create" class="plus-icon"></ion-icon>
           </button>
            <button *ngIf="EventOwner==true" icon-only ion-button  class="btn-notify" (click)="ondeleteEvent()">
                <ion-icon name="trash" class="plus-icon"></ion-icon>
           </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="content">
    <div class="event_details-sec">
        <div class="event_details-first_box">
            <div class="first_box-img">
                <img src="./assets/imgs/korean.jpg" *ngIf="!eventData.image"/>
                <img src={{eventData.image}} *ngIf="eventData.image"/>
                
            </div>
            <div class="first_box-schedule">
                <div class="schedule_detail" *ngIf="!EXPIREDEVENTS">
                    <ul class="m-0" type="none" >
                        <li>
                            <div class="font_18"> {{day}} </div>
                            <div class=""> <small> Days </small> </div>
                        </li>
                        <li>
                            <div class="font_18"> {{hour}} </div>
                            <div class=""> <small> Hrs </small> </div>
                        </li>
                        <li>
                            <div class="font_18"> {{minute}} </div>
                            <div class=""> <small> Min </small> </div>
                        </li>
                        <li>
                            <div class="font_18"> {{second}} </div>
                            <div class=""> <small> Sec </small> </div>
                        </li>
                    </ul>

                      

                    <div class="event-icon text-center font_18">
                        <img src="./assets/imgs/events.png" />
                    </div>
                </div>


                   <div class="schedule_detail" *ngIf="EXPIREDEVENTS" (click)="presentActionSheet()">
                    <ul class="m-0" type="none" >
                        <li >
                          <ion-icon name="camera"></ion-icon>
                     
                        </li>
                    
                    </ul>
                </div>
                <ul class="first_box-link" type="none">
                    <li>
                        <a href="javascript:void(0);"> Chat </a>
                    </li>
                    <li>
                        <a  href="javascript:void(0);" (click)="onPhoto()"> Photo </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" > Details </a>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="user_list">
            <li  *ngFor="let c of eventData.members" class={{c.status}}>
                <div class="user_img" *ngIf="c.status!='Cancelled'">
                    <img src="./assets/imgs/profile_img.png" *ngIf="c.profileImage==null"/>
                    <img src={{c.profileImage}} *ngIf="c.profileImage!=null"/>
                    <!--span class="" *ngIf="EventOwner" (click)="onDeleteMember(c.member_id)"> <ion-icon name="md-close" ></ion-icon> </span-->
                  
                </div>
                <div class="user_name {{c.status}}" >{{c.username}} </div>
            </li>
            <!-- <li class="color-green">
                 <div class="user_img">
                    <img src="./assets/imgs/profile_img.png" *ngIf="c.profileImage==null"/>
                    <img src={{c.profileImage}} *ngIf="c.profileImage!=null"/>
                    <span class="" *ngIf="EventOwner" (click)="onDeleteMember(c.member_id)"> <ion-icon name="md-close" ></ion-icon> </span>
                </div>
                <div class="user_name">{{c.username}} </div>
            </li> -->
      <!--       <li class="color-red">
                <div class="user_img">
                    <img src="./assets/imgs/profile_img.png" />
                    <span class=""> <ion-icon name="md-close" ></ion-icon> </span>
                </div>
                <div class="user_name">John Smith </div>
            </li>
            <li class="color-green">
                <div class="user_img">
                    <img src="./assets/imgs/profile_img.png" />
                    <span class=""> <ion-icon name="md-close" ></ion-icon> </span>
                </div>
                <div class="user_name">John Smith </div>
            </li>
            <li class="color-red">
                <div class="user_img">
                    <img src="./assets/imgs/profile_img.png" />
                    <span class=""> <ion-icon name="md-close" ></ion-icon> </span>
                </div>
                <div class="user_name">John Smith </div>
            </li> -->
        </ul>

        <div class="event-box">
            <h4> {{eventData.username}}</h4>
            <div class="icon-div">
                <span class="icon"> <ion-icon name="ios-calendar-outline" ></ion-icon>  </span> 
                <div class="icon-text">{{change(eventData.date)}} </div>
            </div>
            <div class="icon-div">
                <span class="icon"> <ion-icon name="md-time" ></ion-icon>  </span> 
                <div class="icon-text"> {{eventData.time}} </div>
            </div>
            <div class="icon-div">
                <span class="icon"> <ion-icon name="ios-pin-outline" ></ion-icon>  </span> 
                <div class="icon-text"> {{eventData.address}} </div>
            </div>
        </div>

        <div class="custom-tab">
            <ion-segment [(ngModel)]="pet">
                <ion-segment-button value="Menu">
                    Menu
                </ion-segment-button>
                <ion-segment-button value="bring">
                    What to bring?
                </ion-segment-button>
            </ion-segment>
        </div>

        <div [ngSwitch]="pet">
            <ion-list *ngSwitchCase="'Menu'">
                <div class="event_menu">
                    <div class="event_panel" *ngFor="let a of eventData.menu">
                        <!--div class="menu_box brd-b" color="orange">
                            <div class="grid-6 text-left">
                                Owner
                            </div>
                            <div class="grid-6 text-center">                                
                                {{a.owner_name}}
                            </div>
                            <div class="grid-3 text-right">
                                Status
                            </div>
                        </div-->
						<div class="menu_box">
                            <div class="grid-6 text-left" *ngIf="a.item_name">
								<a href="Javascript:void(0);" *ngIf="a.recipe_link[0]">{{camelize(a.item_name)}}</a>
								<span *ngIf="!a.recipe_link[0]">{{camelize(a.item_name)}}</span>
                            </div>
							<div class="grid-6 text-left" *ngIf="!a.item_name">
								Item Name
                            </div>
                            <div class="grid-6 text-left" *ngIf="a.menuType">
                                 {{camelize(a.menuType) }}
                            </div>
							<div class="grid-6 text-left" *ngIf="!a.menuType">
                              Menu Type
                            </div>
                        </div>
                        <!--div class="menu_box">
                            <div class="grid-6 text-left" *ngIf="a.status">
								{{camelize(a.status)}}
                            </div>
							 <div class="grid-6 text-left" *ngIf="!a.status" style="color:red">
								Pending
                            </div>
                            <div class="grid-6 text-left" *ngIf="a.menuType">
								
                                {{camelize(a.menuType) }}
                                 <ion-icon name="md-checkmark" *ngIf="a.status=='confirmed' || a.status=='Confirmed'"></ion-icon>
                                 <ion-icon name="ios-time" *ngIf="a.status=='pending' || a.status=='Pending'"></ion-icon>
                                 <ion-icon name="ios-close" *ngIf="a.status=='cenceled' || a.status=='Cenceled'"></ion-icon>
                            </div>
							<div class="grid-6 text-left" *ngIf="!a.menuType">
								
                                {{camelize(a.menuType) }}
                                 <ion-icon name="md-checkmark" *ngIf="a.status=='confirmed' || a.status=='Confirmed'"></ion-icon>
                                 <ion-icon name="ios-time" *ngIf="a.status=='pending' || a.status=='Pending'"></ion-icon>
                                 <ion-icon name="ios-close" *ngIf="a.status=='cenceled' || a.status=='Cenceled'"></ion-icon>
                            </div>
                        </div-->
						<div class="menu_box" >
                            <div class="grid-6 text-left" *ngIf="a.score">
								4
                            </div>
							<div class="grid-6 text-left" *ngIf="!a.score" style="color:grey">
								4
                            </div>
                            <div class="grid-6 text-left" *ngIf="a.grade" >
                               <span *ngIf="!a.visible">{{ getMyGrade(a, a.grade) }}</span> <ion-input *ngIf="a.visible" [(ngModel)]="a.grades" style="width:30%; border:2px solid orange"></ion-input>
							   <ion-icon (click)="toggle(a)" [name]="!a.visible ? 'md-add-circle' : 'md-checkmark-circle'" item-right class="orange-color pull-right"></ion-icon>
                            </div>
							<div class="grid-6 text-left grade-dropdown" *ngIf="!a.grade" style="color:grey">
                               <span *ngIf="!a.visible"> Grade </span><!--ion-item><ion-select  [(ngModel)]="a.grade" (ionChange)="addGrade(a.grade)" style="width:50%;border:1px solid black;" *ngIf="a.visible"><ion-option value="0">0</ion-option>
							   <ion-option value="1">1</ion-option>
							   <ion-option value="2">2</ion-option>
							   <ion-option value="3">3</ion-option>
							   <ion-option value="4">4</ion-option>
							   <ion-option value="5">5</ion-option>
							   <ion-option value="6">6</ion-option>
							   <ion-option value="7">7</ion-option>
							   <ion-option value="8">8</ion-option>
							   <ion-option value="9">9</ion-option>
							   <ion-option value="10">10</ion-option>
							   </ion-select> </ion-item-->
							   <ion-input *ngIf="a.visible" [(ngModel)]="a.grades" style="width:30%; border:2px solid orange"></ion-input>
							   <ion-icon (click)="toggle(a)" [name]="!a.visible ? 'md-add-circle' : 'md-checkmark-circle'" item-right class="orange-color pull-right"></ion-icon>
                            </div>
                        </div>
                        <!--div class="menu_box">
                            <div class="grid-2 text-left">
                                <ion-item>
                                    <ion-input type="text" placeholder={{a.menuType}} [(ngModel)]="a.menuType" disabled></ion-input>
                                    <ion-icon name="ios-arrow-down" item-right></ion-icon>
                                </ion-item>      
                            </div>
                            <div class="grid-2 text-center">
                                <ion-item>
                                    <ion-input type="text" [(ngModel)]="a.grade" disabled></ion-input>
                                    <ion-icon name="md-create" item-right></ion-icon>
                                </ion-item>      
                            </div>
                        </div-->
                    </div>

<!-- 
                    <div class="event_panel">
                        <div class="menu_box brd-b" color="orange">
                            <div class="grid-3 text-left">
                                Owner
                            </div>
                            <div class="grid-3 text-center">
                                Item Name
                            </div>
                            <div class="grid-3 text-right">
                                Status
                            </div>
                        </div>
                        <div class="menu_box">
                            <div class="grid-3 text-left">
                                John Smith
                            </div>
                            <div class="grid-3 text-center">
                                Chicken
                            </div>
                            <div class="grid-3 text-right">
                                <img src="./assets/imgs/green.png" />
                            </div>
                        </div>
                        <div class="menu_box">
                            <div class="grid-2 text-left">
                                <ion-item>
                                    <ion-input type="text" placeholder="Username"></ion-input>
                                    <ion-icon name="ios-arrow-down" item-right></ion-icon>
                                </ion-item>      
                            </div>
                            <div class="grid-2 text-center">
                                <ion-item>
                                    <ion-input type="text" placeholder="Username"></ion-input>
                                    <ion-icon name="md-create" item-right></ion-icon>
                                </ion-item>      
                            </div>
                        </div>
                    </div> -->
                </div>
            </ion-list>

            <ion-list *ngSwitchCase="'bring'">
                <div class="event_menu" *ngFor="let b of eventData.whatToBring">
                    <div class="event_action">
                        <ul class="action_ul">
                            <li class="bg-green" *ngIf="b.status=='confirmed' || b.status=='Confirmed'"> Confirm </li>
                            <li class="bg-red" *ngIf="b.status=='cenceled' || b.status=='Cenceled'"> Reject </li>
                            <li class="bg-black" *ngIf="b.status=='Pending' || b.status=='pending'"> Pending </li>
                        </ul>
                    </div>
                    <div class="event_panel">
                        <div class="menu_box brd-b" color="orange">
                            <div class="grid-3 text-left">
                                Owner
                            </div>
                            <div class="grid-3 text-center">
                                What to bring?
                            </div>
                            <div class="grid-3 text-right">
                                Status
                            </div>
                        </div>
                        <div class="menu_box">
                            <div class="grid-3 text-left">
                                {{b.memberName}}
                            </div>
                            <div class="grid-3 text-center">
                                {{b.bringItems}}
                            </div>
                            <div class="grid-3 text-right">
                              <!--   <img src="./assets/imgs/green.png" /> -->
                              <li class="bg-green" *ngIf="b.status=='confirmed' || b.status=='Confirmed'"> Confirm </li>
                            <li class="bg-red" *ngIf="b.status=='cenceled' || b.status=='Cenceled'"> Reject </li>
                            <li class="bg-black" *ngIf="b.status=='Pending' || b.status=='pending'"> Pending </li>
                            </div>
                        </div>
                        
                    </div>

              <!--       <div class="event_action">
                        <ul class="action_ul">
                            <li class="bg-green"> Confirm </li>
                            <li class="bg-red"> Reject </li>
                        </ul>
                    </div>
                    <div class="event_panel">
                        <div class="menu_box brd-b" color="orange">
                            <div class="grid-3 text-left">
                                Owner
                            </div>
                            <div class="grid-3 text-center">
                                What to bring?
                            </div>
                            <div class="grid-3 text-right">
                                Status
                            </div>
                        </div>
                        <div class="menu_box">
                            <div class="grid-3 text-left">
                                John Smith
                            </div>
                            <div class="grid-3 text-center">
                                Chicken
                            </div>
                            <div class="grid-3 text-right">
                                 <img src="./assets/imgs/green.png" /> 
                                <ion-icon name="md-checkmark"></ion-icon>
                            </div>
                        </div>
                        
                    </div> -->
                </div>
            </ion-list>
        </div>
    </div>

    <div class="wrap-post" *ngIf="post_img">
        <div class="img-post-div">
            <div class="img-post-event">
                <img src={{pic}}>
            </div>
            <button ion-button block (click)="onPostImage()" class="post-btn">Post</button>
            <button ion-button block  (click)="onPostImageCancel()" class="cancel-btn">Cancel</button>
        </div>
    </div>


</ion-content>
